@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased transition-colors duration-300;
    }

    body.dark {
        @apply bg-background-dark text-slate-100;
    }

    body.light {
        @apply bg-background-light text-slate-900;
    }
}

/* Custom Scrollbar for "Cyber/Tech" feel */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-700/50 rounded-full hover:bg-slate-600;
}